<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2> Ya did it. Your message is: </h2>
        <div>${Message=undefined, like in js}</div>
        <img src="${path:img/test_img.jpeg}" alt="image" width="200" />
        <br />
        ${parse:404.html}
        <br />
    </body>
</html>
